:root
{
  --color: #ff1a1a;
}

body
{
  font-family: "Helvetica";
  background-color: var(--color); /* #EFEFEF; */
  padding: 0px;
  margin: 0px;
}

#header
{
  line-height: 50px;
  height: 50px;
  background-color: #1a1a00;
  color: #EEE;
  font-size: 20px;
}

#background
{
  width: 10%;
  float: left;
  display: block;
  height: 50px;
}

.helper
{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#logo
{
  vertical-align: middle;
  max-height: 50px;
}

#title
{
  width:30%;
  font-size: 16px;
  font-family: "Courier New";

  float: left;
  display: block;
}

#top_menu
{
  width: 59%;
  height: inherit;
  float: right;
  display: block;
  height: 50px;
}

@media screen and (max-width: 1000px) {
  #top_menu a {display: none;}
  #top_menu a.icon {
    float: right;
    display: block;
  }
  #top_menu {
    width: 150px;
    background-color: #1a1a00;
  }
  a.link {
    visibility: hidden;
  }
}

@media screen and (max-width: 1000px) {
  #top_menu.responsive {
    display: block;
    height: auto;
  }
  #top_menu.responsive a {
    float: none;
    text-align: right;
    display: block;
    visibility: visible;
  }
}

#top_menu > a
{
  float: left;
  display: block;
  padding: 0px 10px;
}

#top_menu > a:hover
{
  vertical-align: middle;
  color: #666;
  background-color: var(--color);
}

#top_menu > .icon
{
  display: none;
}

#body
{
  height: 80%;
  width: 100%;
}

#footer
{
  background-color: brown;
}

span
{
    display: inline-block;
    vertical-align: middle;
}

hr
{
  border-color: var(--color);
  height: 1px;
  color: var(--color);
}

h1
{
  font-size: 30px;
}
